body {
  background-color: #FFF;
  background-image: linear-gradient( transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient( 90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06) );
  background-size: 16px 16px;
  background-repeat: repeat;
}

canvas {
  padding: 30px;
}

.w-30 {
  width: 30% !important;
  max-width: 30% !important;
}

.w-40 {
  width: 40% !important;
  max-width: 40% !important;
}

.container {
  margin: 0;
  padding: 0;
}

.control-panel {
  margin: 15px;
}

.card {
  margin: 5px;
}

.card-header {
  padding: 5px 5px 0 5px;
  border-bottom: none;
}

.card-body {
  padding: 0 5px 5px 5px;
}

.container .card .card-body .form-inline .form-control-label {
  display: inline;
  text-align: left;
  padding-right: 5px;
}

.control-panel-top {
  width: 380px;
}

.control-panel {
  opacity: 0.1;
}

.control-panel:hover {
  opacity: 0.9;
}

.clock-panel {
  position: absolute;
  top: 15px;
  right: 15px;
}

.status-panel {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.control-panel-bottom {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.op-1 {
  opacity: 1 !important;
}

#add-cluster-btn {
  width: 370px;
  margin: 5px;
}

.sf {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.custom-select, .form-control {
  height: 16px;
  line-height: 16px;
}