:root {
  --corner-margin: 10px;
  --ctrl-panel-op: 0.1;
  --chart-panel-op: 0.3;
  --canvas-border-color: #ff3535;
  --black: #212529;
  --font-small: 13px;
  --ctrl-panel-top-width: 420px;
  --ctrl-panel-bottom-width: 560px;
  --chart-width: 420px;
}

.w-30 {
  width: 30% !important;
  max-width: 30% !important;
}

.w-40 {
  width: 40% !important;
  max-width: 40% !important;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.op-1 {
  opacity: 1 !important;
}

.sf {
  font-size: var(--font-small);
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  background-image: linear-gradient( transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient( 90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06) );
  background-size: 16px 16px;
  background-repeat: repeat;
  font-family: monospace;
}

.container {
  margin: 0;
  padding: 0;
}

.card {
  margin: 5px;
}

.card-header {
  padding: 5px 5px 0 5px;
  border-bottom: none;
}

.card-header .btn-link {
  color: var(--black);
}

.card-body {
  padding: 0 5px 5px 5px;
}

.container .card .card-body .form-inline .form-control-label {
  display: inline;
  text-align: left;
  padding-right: 5px;
}

.control-panel {
  margin: 15px;
  opacity: var(--ctrl-panel-op);
  z-index: 100;
}

.control-panel:hover {
  opacity: 0.9;
}

.control-panel-top {
  width: var(--ctrl-panel-top-width);
}

.clock-panel {
  position: absolute;
  top: var(--corner-margin);
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  z-index: 1;
}

.chart-panel {
  position: absolute;
  top: var(--corner-margin);
  right: var(--corner-margin);
}

.control-panel-bottom {
  width: var(--ctrl-panel-bottom-width);
  position: absolute;
  bottom: var(--corner-margin);
  right: var(--corner-margin);
}

#add-cluster-btn {
  width: var(--ctrl-panel-top-width);
  margin: 5px 0 0 0;
}

.custom-select, .form-control {
  height: 16px;
  line-height: 16px;
}

.chart-panel {
  opacity: var(--chart-panel-op);
  padding: 5px;
  z-index: 100;
}

.chart-panel:hover {
  opacity: 0.9;
}

.chart-header {
  padding: 5px;
}

.chart-canvas {
  margin: 10px 0 10px 0;
  height: 180px;
  width: var(--chart-width);
}

#showcase-wrapper {
  width: 100%;
  height: 100%;
}

#showcase {
  box-sizing: border-box;
  border: 1px dashed var(--canvas-border-color);
  opacity: 0.6;
}
